pipeline/FullAndIncrementalLoadPipeline.json
{
	"name": "FullAndIncrementalLoadPipeline",
	"properties": {
		"activities": [
			{
				"name": "LookupActivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from @{pipeline().parameters.cfgTableName} where Active_Indicator =1;",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "TargetDataset",
						"type": "DatasetReference",
						"parameters": {
							"outputTableName": {
								"value": "@pipeline().parameters.cfgTableName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Activity",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupActivity').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If Condition Activity",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().Incremental_Full_Load,1)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Copy data Full Load",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "SourceDataset",
												"type": "DatasetReference",
												"parameters": {
													"inputTableName": "@item().Table_Name"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "TargetDataset",
												"type": "DatasetReference",
												"parameters": {
													"outputTableName": "@item().Table_Name"
												}
											}
										]
									}
								],
								"ifTrueActivities": [
									{
										"name": "Lookup Incremental",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "select substring(convert(varchar(30),Max_Last_Updated_Date,120),0,11) from dbo.configuration_table where Table_Name like '@{item().Table_Name}';",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "SourceDataset",
												"type": "DatasetReference",
												"parameters": {
													"inputTableName": "configuration_table"
												}
											},
											"firstRowOnly": false
										}
									},
									{
										"name": "Copy data Incremental",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Lookup Incremental",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "select * from @{item().Table_Name} where substring(convert(varchar(30),added_date,120),0,11) > @{activity('Lookup Incremental').output.value};",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "SourceDataset",
												"type": "DatasetReference",
												"parameters": {
													"inputTableName": "@item().Table_Name"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "TargetDataset",
												"type": "DatasetReference",
												"parameters": {
													"outputTableName": {
														"value": "@item().Table_Name",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"cfgTableName": {
				"type": "string",
				"defaultValue": "dbo.configuration_table"
			}
		},
		"annotations": []
	}
}